body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #edeaeef7;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
}

header .logo span {
    font-family:'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: bold;
    background: linear-gradient(to left, #ec0b0b, #6f21d5); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 1px; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #2f2e2f;
    color: #fefefe;
}

/* Hamburger Menu Styling */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.hamburger span {
    width: 20px;
    height: 3px;
    background-color: #000000;
    border-radius: 5px;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: rgba(159, 91, 173, 0.7);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 150px;
        z-index: 1000;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 0;
        line-height: 2em;
        font-weight: 700;
    }

    nav ul li a {
        padding: 10px 20px;
        width: 100%;
        text-align: left;
    }

    .hamburger {
        display: flex;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.hero-section {
    background-color: #541b6ff1;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ecc1ef;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.hero-text {
    flex: 1;
    padding-left: 20px;
    text-align: right;
}

.hero-text h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 22px;
    margin-bottom: 20px;
}

.button {
    padding: 10px;
    background-color: #944fd5;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #cc98c3; 
    color:#000000;
}

/* about */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.about-us {
    background-color:#f0dbf29f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px 20px;  
}

.about-us h1 {
    color: #4033b8;
    font-family: cursive;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-us h2 {
    color: #ed0268;
    font-size: 1.8em;
    margin-top: 20px;
}

.about-us p {
    color: #333;
    margin-bottom: 20px;
}

.about-us ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

.about-us ul li {
    margin-bottom: 10px;
    color: #555;
}

.about-us ul li strong {
    color: #7d1b7d;
}

.featured-courses {
    background-color:#d5bcd9d4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px 20px;
    text-align: center;
}

.featured-courses h2 {
    color: #3711c1;
    font-family:cursive;
    font-size: 32px;
    margin-bottom: 25px;
}

.course-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.course-card {
    background-color: #fff;
    border: 1px solid #ceccca;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: left;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.course-card:hover {
    transform: translateY(-10px);
}

.course-card h3 {
    color: #7d1b7d;
    margin-bottom: 10px;
}

.course-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}



.high-rated-courses {
    background-color: #f5d6df;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px 20px;
    text-align: center;
}

.high-rated-courses h2 {
    color: #3711c1;
    font-family:cursive;
    font-size: 32px;
    margin-bottom: 25px;
}

.courses-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.course-cards {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 20px;
    text-align: center;
}

.course-cards .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
    color: #333;
}

.course-cards img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

.course-cards h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #3166c8;
}

.course-cards p {
    margin: 5px 0;
    color: #777;
}

.explore-more {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.explore-more:hover {
    background-color: #0056b3;
}


.benefits {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px 20px;
    text-align: center;
    background-color: #cce9e2;
}


.benefits h2 {
    font-family: cursive;
    text-align: center;
    font-size: 32px;
    color: #3711c1;
    margin-bottom: 20px;
}

.benefits-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.benefit {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.benefit:hover {
    transform: translatey(-10px);
}

.benefit img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

.benefit-name {
    font-weight: bold;
    font-size: 18px;
    color: #508ab3;
    margin-bottom: 5px;
}

.sessions {
    font-size: 14px;
    color: #777;
}

/* testimonial */
.tc {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px 20px;
    text-align: center;
    background-color: #e5e9eee6;
}

.tc h2 {
    font-family: cursive;
    text-align: center;
    font-size: 32px;
    color: #3711c1;
    margin-bottom: 20px;
}

.testimonial-container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.testimonial {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    min-width: 280px;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
}

.testimonial .student-name {
    font-weight: bold;
    color: #508ab3;
    position: absolute;
    top: 10px;
    left: 15px;
}

.testimonial .rating {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #ffa500;
}

.testimonial .review {
    text-align: center;
    margin-top: 40px;
    color: #555;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    font-size: 0.9em;
}

.footer .f-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
    margin-right: 40px;
}

.footer-column h3 {
    color: #57bccc;
    margin-bottom: 20px;
}

.footer-column p, .footer-column ul, .footer-column a {
    color: #bbb;
    line-height: 1.6;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #fff;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #ffffff;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #444;
    font-size: 0.9em;
}